[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/uma-protocol"]
	path = lib/uma-protocol
	url = https://github.com/UMAprotocol/protocol
